:root {
    --fg1: #000000;
    --fg2: #75507b;
    --hg: #e9897c;
    --bg1: #FFFFFF;
    --bg2: #edb4e7;
}

@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--bg1);
    font-family: 'Times New Roman', sans-serif;
    color: var(--fg1);
    font-size: 16px;
    overflow-y: auto;
}

div.content {
    background-color: var(--bg2);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16vh;
    box-sizing: border-box;
    padding: 2vh;
}

.content-inner {
    width: 90%;
    max-width: 400px;
}

input[type=submit], input[type=text], a {
    font-family: 'Gideon Roman', sans-serif;
    text-align: center;
    width: 50%;
    margin: 1vh;
    color: var(--fg1);
}

input[type=submit] {
    background-color: var(--fg1);
    padding: 2vh;
    border: 0.5vh solid var(--fg1);
    border-radius: 1vh;
    font-size: 32px;
}

input[type=submit]:hover {
    background-color: var(--fg1);
    color: var(--bg2);
    border: 0.5vh solid var(--hg);
}

input[type=text] {
    background-color: var(--fg2);
    padding: 1vh;
    border: none;
    border-radius: 1vh;
    font-size: 32px;
}

a {
    background-color: var(--fg2);
    padding: 1vh;
    border: 0.5vh solid var(--fg1);
    border-radius: 1vh;
    font-size: large;
    display: inline-block;
    text-align: center;
}

a:hover {
    background-color: var(--fg1);
    color: var(--bg2);
    border: 0.5vh solid var(--hg);
}

p {
    font-size: 14px;
}

h1 {
    font-size: 30px;
}

table {
    width: 100%;
    height: 60%;
    table-layout: fixed;
}

tr {
    min-height: 25%;
}

td {
    min-width: 25%;
    text-align: center;
    color: transparent;
}

td > a, td > a:hover {
    margin: 0;
    padding: 0.3vh;
}
